* {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

::-webkit-scrollbar {
  width: 6px;
  background: #f1f1f1;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Color del thumb */
}

[data-slot="value"] {
  color: white !important;
}

[data-disabled="true"] {
  color: #9e9e9e;
}


[data-selected="true"] {
  background: linear-gradient(to bottom, #0038A8, #00C853);
  color: white;

}
[data-selected="true"] [data-hover="true"] {
  color: white;

}

[data-slot="grid-body"] [role="gridcell"] [data-selected="false"] span {
  color: white;
}

[data-slot="grid-body"] [data-hover="true"] {
  color: #13161B;
  background-color: white;
}

[data-slot="grid-body"] [data-hover="false"] {
  color: white;
  background-color: white;
}

[data-slot="segment"] {
  color: white !important;
}

[data-slot="selectorIcon"] {
  stroke: white !important;
}

[data-slot="calendar"] [data-slot="input-wrapper"] {
  border: 1px solid #D9D9D9;
  background-color: #272C31;
}

body {
  background: #13161B;
  overflow: hidden;
}